@charset "utf-8";
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  /* padding-bottom: 75px; */
  padding: 0;
  margin: 0;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.coffee_menu_image {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: block;
  object-fit: contain;
  margin-left: 8px;
}
.section_concept {
  display: flex;
  justify-content: space-between;
}
.concept_text {
  width: 60%;
  padding-right: 20px;
}
.concept_img {
  width: 35%;
}
.text {
  padding: 8px;
}
.text h2 {
  font-size: 1em;
}
.section_menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 52px;
}
.menu1_inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch; /* 高さを揃える */
  width: 49%;
  }
.menu1_img {
  width: 55%;
  max-height: 300px;
  object-fit: cover;
}
.menu1_text {
  background-color: #fff;
  width: 45%;
  max-height: 300px;
}
.menu {
  background: center / cover scroll no-repeat url("..//images/sample_menu_bg.jpg");
  background-attachment: fixed;
}
.section_menu2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.menu2_inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  width: 49%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.menu2_text {
  width: 80%;
  box-sizing: border-box;
  padding-left: 16px;
}
.access_inner {
  display: flex;
}
.access_tag {
  width: 80px;
}
iframe {
  width: 100%;
  margin-bottom: 40px;
}
footer {
  background: #251e19;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.footer_nav a {
  text-decoration: none;
}
.footer_nav_item {
  display: flex;
  color: #fff;
}
.footer_nav_item img {
  max-height: 40px;
  width: auto;
}
.footer_text {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}
